<script>
import DastConfigurationForm from './configuration_form.vue';

export default {
  components: {
    DastConfigurationForm,
  },
};
</script>

<template>
  <DastConfigurationForm class="gl-my-5" />
</template>
